
.ipynb_checkpoints/chatbot_barista_exercise_python_dialogue_trees-checkpoint.ipynb
.ipynb_checkpoints/chatbot_regex_intents_entities_alienbot_exercise-checkpoint.ipynb
.ipynb_checkpoints/classes_practice_art_school-checkpoint.ipynb
.ipynb_checkpoints/dictionaries_exercise_scrabble_game-checkpoint.ipynb
.ipynb_checkpoints/flow_control_shipping_exercise-checkpoint.ipynb
.ipynb_checkpoints/function_practice_physics_class-checkpoint.ipynb
.ipynb_checkpoints/list_comprehension_while_loops-checkpoint.ipynb
.ipynb_checkpoints/lists_dictionaries_management_game_night_exercise-checkpoint.ipynb
.ipynb_checkpoints/lists_python_gradebook_exercise-checkpoint.ipynb
.ipynb_checkpoints/modifying_dictionaries-checkpoint.ipynb
.ipynb_checkpoints/python_lists_pizza_parlor-checkpoint.ipynb
.ipynb_checkpoints/text_preprocessing_practice-checkpoint.ipynb
.ipynb_checkpoints/tuples_brief_description-checkpoint.ipynb
story_predictor/__pycache__/marquez_raw.cpython-38.pyc
story_predictor/__pycache__/cortazar_raw.cpython-38.pyc
story_predictor/__pycache__/borges_raw.cpython-38.pyc
story_predictor/.ipynb_checkpoints/sklearn_vectors_practice_short_story_predictor-checkpoint.ipynb
author_predictor/.ipynb_checkpoints/sklearn_vectors_practice_short_story_predictor-checkpoint.ipynb
author_predictor/__pycache__/borges_raw.cpython-38.pyc
author_predictor/__pycache__/cortazar_raw.cpython-38.pyc
author_predictor/__pycache__/marquez_raw.cpython-38.pyc
topic_predictor/.ipynb_checkpoints/kafka_topic_predictor_tfidf_exercise-checkpoint.ipynb
topic_predictor/.ipynb_checkpoints/Untitled-checkpoint.ipynb
topic_predictor/__pycache__/kafka_stories.cpython-38.pyc
presidents_inaugural_speeches_word_embeddings-checkpoint.ipynb
